.App {
    min-height: 92vh ;
    height: auto;
    text-align: center;
    padding: 25px;
    background-image: url('./img/Universo.gif');
    background-size: 100vw 100vh;                     
    background-position: center center;
}